{% extends 'base.html' %}
{% load cms_tags %}


{% block content %}
    <div class="container">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <h2> About {{ request.site.name }}</h2>
            </div>
            <div class="row about-image">
                {% placeholder "about page image" %}
            </div>
            <div class="row">
                {% placeholder "about page text" %}
            </div>
        </div>
    </div>

{% endblock content %}
