{% extends 'base.html' %}
{% load cms_tags %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header-detail current">
                {% placeholder "chevron category" %}
            </div>
            <div class="col-sm-12 chevron-detail current">
                {% page_attribute "page_title" request.current_page %}
            </div>
        </div>
    </div>

    {% block section-content %}

    {% endblock section-content %}

{% endblock content %}
