{% extends "base.html" %}
{% load cms_tags %}


{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-4">

                <!-- Secondary left-side navbar -->
                <div class="navbar navbar-default sidenav-ce3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#side-nav">
                            Phase Menu
                        </button>
                    </div>
                    <div id="side-nav" class="collapse navbar-collapse main-nav">
                        <ul class="nav navbar-nav">
                            <li class="step-through-nav"><a href="/en/"><span
                                    class="glyphicon glyphicon-chevron-left"></span> Back to Cookbook</a></li>
                        </ul>
                        <div>{% placeholder "Section Page Link" %}</div>
                        <div class="nav navbar-nav">
                            {% placeholder "section menu" %}
                        </div>
                    </div>
                </div>

            </div><!-- col-sm-4 left-nav -->

            <div class="col-sm-8 main-content">


                <h1>{% placeholder "page title" %}</h1>
                <h4>{% placeholder "page subtitle" %}</h4>

                <h3>Purpose</h3>
                {% placeholder "purpose" %}

                <div class="row">
                    {% include "page-elements/tools_templates.html" %}
                </div>
                <div class="row">
                    {% include "page-elements/helpful_resources.html" %}
                </div>
                <div class="row">
                    {% include "page-elements/publications.html" %}
                </div>
            </div>
        </div>

    </div> <!-- /container -->

{% endblock content %}
